* {
  box-sizing: border-box;
}
.header {
  border-bottom: 1px solid teal;
  margin: 20px 0 40px 0;
}
.profile-form, .message-form, .messages-container {
  margin: 40px 0;
}
.profile-image {
  width: 100px;
  height: auto;
}
.messages-container {
  padding: 10px 25px;
}
.message-container {
  text-align: left;
}
.profile-thumbnail {
  width: 50px;
  height: auto;
}
.username {
  font-weight: 700;
  
}
.time {
  color: teal;
}
